.header {
  padding: 16px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background-color: #ffffff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
  }

  &__link {
    color: rgba(0, 0, 0, 0.85);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__sign-in {
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__sign-up {
    padding: 8px 16px;
    color: #52c41a;
    background-color: #ffffff;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }

  &__create-article {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #52c41a;
    background-color: #ffffff;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__username {
  }

  &__userpic {
    width: 46px;
    height: 46px;
    font-size: 0;
    border-radius: 50%;
  }

  &__log-out {
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
  }
}
