.header {
  padding: 16px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background-color: #ffffff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
  }

  &__link {
    color: rgba(0, 0, 0, 0.85);
  }

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__sign-in {
    color: rgba(0, 0, 0, 0.85);
  }

  &__sign-up {
    padding: 8px 16px;
    color: #52c41a;
    background-color: #ffffff;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }
}
