.article {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  &__title {
    display: inline-block;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #1890ff;
  }

  &__like-button {
    margin-right: 8px;
    font-size: 0;
  }

  &__likes {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
  }

  &__tags {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__tag {
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__username {
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__date {
    justify-self: end;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__userpic {
    width: 46px;
    height: 46px;
    font-size: 0;
    border-radius: 50%;
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
  }

  &__delete-button {
    margin-right: 12px;
    padding: 6px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #f5222d;
    background-color: #ffffff;
    border: 1px solid #f5222d;
    border-radius: 5px;
  }

  &__edit-button {
    padding: 6px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #52c41a;
    background-color: #ffffff;
    border: 1px solid #52c41a;
    border-radius: 5px;
  }
}
